body {
    display: flex;
    flex-direction: column;
}


.Navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
    height: 50px;
    width: 100%;
}

/* Actual text in anchor links */
.Navbar li {
    color: #fff;
    list-style: none;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 8px;
    font-size: 18px;
}

/* Removes underline from anchors */
.Remove {
    text-decoration: none;
}

form {
    margin-top: 50px;
}

.btn {
    margin-top: 15px;
}

a:hover {
    text-decoration: underline;
    color: red;
}

#Projects {
    margin-top: 24px;
}

.container {
    padding: 0px;
    margin: 0px;
}

/* Styles to stick footer to the bottom of page */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    height: 50px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

svg {
    margin-left: 5px;
    margin-right: 5px;
}

.card {
    margin-right: 8px;
}

/* In media queries use position reletive for mobile/tablets to stick footer to bottom of page */

@media only screen and (max-width: 1000px) {
#Projects {
    margin-bottom: 40px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    height: 50px;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto 0;
}
}